<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<style type="text/css">
html, body {
	font-family: 'Arial', calibri, trebuchet ms;
	font-size: 1em;
	background: none repeat scroll 0 0 #FCFDFD;
	border: 0 none;
	color: #222222;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

h2 {
	color: #990000;
	font-size: 30px;
	font-weight: lighter;
	text-align: center;
}

h4 {
	color: #3E5589;
	font-size: 20px;
	font-weight: normal;
}

p {
	color: #333;
	font-weight: normal;
	margin: 0 0 15px 0;
	texte-align: left;
}

h1, h2, h3, h4, h5, h6 {
	
}

a {
	color: #2E4E87;
	display: inline-block;
	text-decoration: underline;
}

.container {
	background-color: #F2F2F2;
	/*border-top: 2px solid #990000;*/
	border-top: 2px solid #000058;
	margin: 0 auto;
	margin-top: 10px;
	max-width: 580px;
	padding: 15px 30px;
	text-align: center;
}

.container:before {
	/*border-top: 2px solid #990000;
	content: " ";
	display: block;
	width: 100%;*/
	
}

.corpo-email h2 {
	display: inline-block;
	font-weight: lighter;
}

.corpo-email h2:before {
	border-top: 1px solid #999999;
	content: " ";
	display: block;
	margin-top: -25px;
	padding-top: 10px;
	width: 100%;
}

.container p:nth-of-type(1), .container p:nth-of-type(2), .container p:nth-of-type(6),
	.container p:nth-of-type(7), .container ul li {
	text-align: left;
}

.container p:nth-of-type(6) {
	font-size: 0.875em;
	font-weight: bold;
}

.container ul {
	padding: 0;
}

.container ul li {
	list-style: none;
}

.container ul li, .container p:nth-of-type(7), .container p:last-chil {
	font-size: 0.875em;
}

.container p:nth-of-type(4) {margin-top
	
}

.rodape {
	background-color: #000058;
	color: #fff;
	font-weight: normal;
	padding: 15px 30px;
	margin: 0 auto;
	text-align: center;
	width: 580px;
	font-size: 12px;
}

.button-primario {
	background-color: #3E5589;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 1em;
	height: 45px;
	line-height: 45px;
	width: 80%;
}

a.button-primario {
	text-decoration: none;
	margin-bottom: 40px;
}

.container h3 {
	margin: 60px 0 20px 0;
	font-size: 18px;
	font-weight: normal;
}

.crop {
	width: 180px;
	height: 93px;
	overflow: hidden;
}

#logo_secap {
	width: 250px;
	height: 150px;
	margin: -20px 0 0 -30px;
	mix-blend-mode: multiply;
}
</style>
</head>

<body>
	<div class="container corpo-email">

		<div style="display: flex; justify-content: center;">
			<div style="padding-right: 20px">
				<a href="http://www.upe.br/">
				    <img src="http://www.upe.br/images/industrix/logo-nova4.png" width="80" height="50" style="padding-top: 25px"/>
				</a>
			</div>
			<div class="crop">
				<a href="https://doity.com.br/secap/">
				    <img id="logo_secap"
					src="http://www.upe.br/garanhuns/wp-content/uploads/2021/10/39493449d16e44fd880d465756d46ce6.png"/>
				</a>
			</div>
		</div>


		<h2>CERTIFICAÇÃO</h2>

		<p>
			Olá, <span>$!{nome}</span>!
		</p>

		<p>
			<b>Você está recebendo o seu certificado de <span>$!{participacao}</span>
				na III Semana Científica do Agreste Pernambucano – SECAP
			</b>.
		</p>

		<p style="font-size: 12px">
			Possui alguma dúvida? Entre em contato conosco através dos email: <a
				href="mailto:secap@upe.br">secap@upe.br</a>
		</p>

		<p style="font-size: 12px">Não responda este email. O contato
			deverá ser realizado através do email informado acima.</p>

	</div>

	<p class="rodape">Caso você não tenha participado do evento,
		pedimos que ignore esta mensagem.</p>
</body>
</html>